<!DOCTYPE html>
<HTML lang="en">
<BODY bgcolor="#add8e6">
<form method="POST" action="">
    <center>
        <H1> Enter Student Info</H1><br>
        <label for="StudentId">Student ID:</label><br>
        <input type ="text" id="StudentId" name="StudentId"/><br>
        <label for="FName">First name:</label><br>
        <input type ="text" id=FName name="FName"/><br>
        <label for="LName">Last name:</label><br>
        <input type ="text" id="LName" name="LName"/><br>
        <label for="StSem">Start Semester:</label><br>
        <input type ="text" id="StSem" name="StSem"/><br>
        <label for ="StYear">Semester Year (2000-2025):</label><br>
        <input type ="number" id="StYear" name="StYear" min="2000" max="2025"/><br>
        <label for ="Supervisor">Supervisor:</label><br>
        <input type="text" id="Supervisor" name="Supervisor"/><br>
        <input type = "submit">
    </center>
</form>
</BODY>
</HTML>