<!DOCTYPE html>
<html lang="en">
<head>
    <title>Queries for DOCTORAL database</title>
    <meta charset="UTF-8">
</head>
<body bgcolor="F0FFF0">
    <h1>Supported queries for DOCTORAL database</h1><br>
    <a href="http://127.0.0.1:5000/insert_student">Insert a new student into the database.</a><br><br>
    <a href="http://127.0.0.1:5000/update_payment_TA">Update the payment amount of the TAs for a course.</a><br><br>
    <a href="http://127.0.0.1:5000/display_grant">Display grant title, type, and accout number for a GRA student.</a><br><br>
    <a href="http://127.0.0.1:5000/delete_self_support_student">Delete a self-support student type who has not passed any milestone yet.</a><br><br>
</body>
</html>